$text-white:#fff;
$text-black:#212121;
$text-grey:#757575;

$box-space:24px 12px;

@mixin box() {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 3px; 
}

@mixin box-out() {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 3px; 
}

@mixin flexCenter(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-direction: column;
    align-items: center;
}

@mixin sp-input(){
    border:none;
    outline: none;
    background-color:#fff;
    border-radius:6px;
}

@mixin flexRow{
    display:flex;
    flex-direction: row;
}

@mixin flexColumn{
    display:flex;
    flex-direction: column;   
}