 @import "../../../app-color/default.scss";
.dashboard-container{
    width:100%;
    min-width:600px;
    max-width:1600px;
    @include flexRow;
    padding-top:40px;
}

.dashboard-sidenav{
    flex:3;
}

.dashboard-content{
    flex:8;
}

.dashboard-counterside{
    flex:3;
}