<div><h3>{{ message | async | json }}</h3></div>
<div class="dashboard-container">
    
    <div class="dashboard-sidenav">
        <app-side-nav></app-side-nav>
    </div>
    <div class="dashboard-content">
        <app-main-content></app-main-content>
    </div>
    <!-- <div class="dashboard-counterside">
        <app-counter-side></app-counter-side>
    </div> -->
</div>
