@import "../../../app-color/default.scss";
@import "../../../app-color/indigo.scss";
.user-loader{
    width: 270px;
    display: flex;
    @include flexCenter;
    @include box;
    background-color: #fff;
    margin:6px 0;
}

.user-card{
    display:flex;
    flex-direction: row;
    min-height: 70px;
    margin:6px 0;
    background-color:#fff;
    cursor: pointer;
    @include box;
}

.user-card.current-target{
    background-color: $primary-color;
}
.user-card.current-target:hover{
    opacity: 0.9;
}
.user-card.current-target .user-card-info{color:#fff !important;}

.user-card:not(.current-target):hover{
    background-color:rgba(255,255,255,0.9);
}

.user-card-status{
    width:6px;
}

.user-card-status.offline{
    background-color:lightgrey;
}
.user-card-status.online{
    background-color:lightgreen;
}

.user-card-info{
    min-width:200px;
    display:flex;
    flex-direction: column;
    padding:12px;
    color:$text-black;
}

.user-card-thumbnail{
    width:70px;
    height:70px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
}

.user-card-thumbnail.offline{
    -webkit-filter: grayscale(95%);
}

