<div class="user-loader"  *ngIf="authService.userLoader">
    <mat-spinner></mat-spinner>
</div>
<div class="user-card" *ngFor="let user of authService.spammeUserList" 
    [ngClass]="{'current-target': user.id == authService.whoAmISpeakingto.id }"
    (click)="authService.messageTo(user)">
    <div class="user-card-thumbnail" 
    [style.backgroundImage]="'url('+ user.userAvatar +')' "
    [ngClass]="{'offline': user.userStatus == 2}" >
    </div>
    <div class="user-card-info">
        <div>{{user.userName}}</div>
    </div>
    <div class="user-card-status" [ngClass]="{'online': user.userStatus == 1, 'offline': user.userStatus == 2}"></div>
</div>
