<div class="login-container">
  <div class="login-header">
    <h1>Wellcome to Spamme.io | CXi Portal</h1>
  </div>
  <div class="login-controls">
      <div class="controls">
          <input type="text"  #userEmail required autofocus autocomplete="off">
          <i class="far fa-envelope"></i>
      </div>
      <div class="controls">
          <input type="password" #userPassword required autocomplete="off">
          <i class="fas fa-key"></i>
      </div>
      <button type="button" (click)="authService.login(userEmail.value, userPassword.value)" [disabled]="authService.isLogin" >
          <div *ngIf="!authService.isLogin"><i class="fas fa-unlock"></i></div>
          <div *ngIf="authService.isLogin"><i class="fas fa-spinner spinner"></i></div>
        </button>
    </div>
</div>
