@import "../../app-color/default.scss";
@import "../../app-color/indigo.scss";
.login-container{
    min-width: 690px;
}
.login-header{
    display: flex;
}
.login-controls{
    display:flex;
    flex-direction: row;
    justify-content: space-between
}
.controls{
    max-width:300px;
    position: relative;
}
.controls:not(:nth-child(1)){
    margin-left:40px;
}
.controls i{
    position: absolute;left:10px;color:rgba(0,0,0,0.5);top:10px;font-size:1.4em;transition-duration: 0.3s;
}
input{
    @include sp-input;
    width:100%;
    padding:12px 12px 12px 50px;
}
input:focus + i{
    color:$primary-color
}
button{
    background-color:$primary-color;
    border:none;
    outline:none;
    padding:12px 24px;
    border-radius: 12px;
    color:#212121;
    display:flex;
    justify-content: center;
    align-items: center;
    @include box;
    margin-left:40px;
    cursor:pointer;
    transition-duration: 0.5s;
}

button:hover{
    background-color:$primary-dark-color;
    color:#fff;
}
button:active{
    @include box-out;
}