<h1 mat-dialog-title>Edit your Info</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput placeholder="Display Name" [(ngModel)]="currentUser.userName">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Email (Not ediable)" readonly [value]="currentUser.userEmail">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="saveUserInfo()" [disabled]="isSaving">Save</button>
</div>