<button type="button" class="log-out-button" (click)="authService.logout()" *ngIf="authService.isLoggedIn"><i class="fas fa-sign-out-alt"></i></button>
<button type="button" class="avatar-button" (click)="openUserInfo()" *ngIf="authService.isLoggedIn" [style.backgroundImage]="'url('+ authService.loginUserAvatar +')' "></button>
<div class="app-body">
    <router-outlet ></router-outlet>
</div>



