@import "../app-color/default.scss";
.app-body{
    position: fixed;
    width:100%;
    height:100%;
    @include flexCenter;
    color:$text-white;
    overflow: hidden;
    animation-name: bg-transition;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
.log-out-button{
    position: fixed;
    right: 20px;
    top:20px;
    font-size:30px;
    color:#fff;
    background-color: transparent;
    z-index: 999;
    border:none;
    outline:none;
    cursor:pointer;
    transition-duration: 0.2s;
}
.log-out-button:hover{
    right:10px;
}
.avatar-button{
    position: fixed;
    right: 100px;
    top:20px;
    font-size:30px;
    color:#fff;
    background-color: #fff;
    z-index: 999;
    border:none;
    outline:none;
    cursor:pointer;
    width:40px;
    height:40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes bg-transition {
    0%  {
        background-color: #303F9F;
        opacity: 1;
    }
    20%  {
        background-color: #7B1FA2;
        opacity: 1;
    }
    40%  {
        background-color: #1976D2;
        opacity: 1;
    }
    60%  {
        background-color: #CDDC39;
        opacity: 1;
    }
    80%  {
        background-color: #E64A19;
        opacity: 1;
    }
    100%  {
        background-color: #303F9F;
        opacity: 1;
    }
}

.spinner-effect{
    animation-name: spinner;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes spinner{
    0%  {
        transform:rotate(180deg);
    }
    50%  {
        transform:rotate(360deg);
    }
    100%  {
        transform:rotate(180deg);
    }
}
