<div class="message-loading" *ngIf="authService.coreLoader">
    <mat-spinner></mat-spinner>
</div>
<div class="message-board" *ngIf="!authService.coreLoader">
    <div class="send-message-board">
      <span>Receiptant : {{authService.whoAmISpeakingto?.userName}}</span>
      <div class="send-message-texteditor">
        <textarea autofocus placeholder="...type some thing you want to say" [(ngModel)]="message"></textarea>
      </div>
      <div class="send-message-action">
        <button type="button"><i class="far fa-images"></i>Upload Picture</button>
        <button type="button" (click)="authService.sendMessage(message); clearMsg() " [disabled]="authService.messageOnLoader">
          <i class="fas fa-paper-plane" ></i>Send Message</button>
      </div>
    </div>
    <div class="message-scroller">
        <div class="message-card-board" *ngFor="let message of authService.messagesList" 
        [ngClass]="{'owner' : message.owner == authService.getCurrentUserID()}">
            <div class="message-card" >
              <div class="message-status">

                  <div *ngIf="message.owner == authService.getCurrentUserID()">by <b>ME</b> @ {{authService.getNormalDateFormat(message.sendAt)}}</div>
                  <div *ngIf="message.owner !== authService.getCurrentUserID()"> by 
                    <span class="avatar" 
                      [style.backgroundImage]="'url('+ authService.getAvatar(message.owner) +')'"
                      [ngClass]="{'offline': authService.getOnlineStatus(message.owner) == 2 }" ></span> <b>{{authService.getOwnerName(message.owner)}} </b>@ {{authService.getNormalDateFormat(message.sendAt)}}</div>

                  

                  <div class="urgency-icon" 
                       [ngClass]="{'high': message.urgency == 'high',
                                  'normal': message.urgency == 'normal',
                                  'low': message.urgency == 'low'}">{{message.urgency}}</div>
              </div>
             
              <div style="padding:12px;">
                <span>{{message.content}}</span>
              </div>
              <div class="message-action">
                  <input type="checkbox" /> Read
              </div>
          </div>
        </div>
        
    </div>

 
</div>
