@import "../../../app-color/default.scss";
@import "../../../app-color/indigo.scss";
.message-loading{
    margin:6px;
    display:flex;
    justify-content: center;
    align-content: center;
    padding:12px;
    background-color:#fff;
    @include box;
    min-width: 600px;
}

.message-board{
    margin:6px;
    min-width:600px;
    display:flex;
    flex-direction: column;
}

.send-message-board{
    padding:12px;
    min-height:150px;
    background-color:#fff;
    @include box;
    @include flexColumn;
    color:$text-black;
}

.send-message-texteditor{
    padding:12px;
    border:solid 1px #ddd;
    border-radius: 12px;
    margin-top:20px;
}

.send-message-texteditor textarea{
    border:none;
    resize:none;
    min-height: 80px;
    width:100%;
}
.send-message-texteditor textarea:focus{
    outline:none;
}
.send-message-action{
    padding:12px;
    @include flexRow;
    justify-content: flex-end;
    align-items: flex-end;
}

.send-message-action button{
    border:none;
    outline:none;
    background-color: $primary-color;
    padding:12px;
    color:#fff;
    font-size:14px;
    border-radius: 6px;
    cursor:pointer;
    margin-left:12px;
}

.send-message-action button:hover{
    opacity: 0.9;
}

.send-message-action button i{
    margin-right: 12px;
}

.message-scroller{
    max-height: 605px;
    overflow-y: auto;
    margin-top:20px;

  
}

::-webkit-scrollbar {
    width: 1px;
  }

.message-card-board{
    @include flexColumn;
    min-width: 600px;
    align-items: flex-end;
    margin:12px 0;
}

.message-card-board.owner{
    align-items: flex-start !important;
    
}

.message-card{
    min-width: 500px;
    max-width: 500px;
    @include flexColumn;
    @include box;
    background-color:#fff;
    color:$text-black;
}

.message-status{
    @include flexRow;
    padding:12px;
    justify-content: space-between;
    font-size:11px;
}

.urgency-icon{
    padding:3px;
    font-size:10px;
    border-radius: 3px;
    color:#fff;
}

.urgency-icon.normal{
    background: #ffa000;
}

.urgency-icon.low{
    background: #78909c;
}
.urgency-icon.high{
    background: #e53935;
}

.avatar{
    display:block;
    float:left;
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:6px;
}

.avatar.offline{
    -webkit-filter: grayscale(95%);
}

.message-action{
    padding: 12px;
}
